<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>519492685724-9emmstcuad5oag4ock19jvabkhrvgid9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.519492685724-9emmstcuad5oag4ock19jvabkhrvgid9</string>
	<key>API_KEY</key>
	<string>AIzaSyDH3w00KyJ37QugffUbi--id7Gre3oAC68</string>
	<key>GCM_SENDER_ID</key>
	<string>519492685724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pompouscatstudios.BestOf</string>
	<key>PROJECT_ID</key>
	<string>best-of-5fbdd</string>
	<key>STORAGE_BUCKET</key>
	<string>best-of-5fbdd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519492685724:ios:f5977c57c4cc0c9f698259</string>
</dict>
</plist>